<header>
  <h1 class="appName"><a routerLink="/dashboard">HappyCranky</a></h1>
  <div class="nav-bar">
    <div class="links">
      <div *ngIf="usersignedin === true" class="linkies">
        <div class="past">
          <a routerLink="/pastentries">Your Entries</a>
        </div>
        <div class="stats">
          <a routerLink="/stats">Stats</a>
        </div>
        <div class="signout">
          <button (click)="auth.signOut()">Sign Out</button>
        </div>
      </div>
    </div>
  </div>
</header>
