.links-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  color: white;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89253e,
    #3a6186
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #89253e,
    #3a6186
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: white;
}

a:hover,
button:hover {
  color: rgba(241, 237, 252, 0.781);
}

i {
  font-size: 35px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .links-container {
    display: none;
  }
}

/* computer */
@media only screen and (min-width: 992px) {
  .links-container {
    display: none;
  }
}