.wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: x-large;
  font-weight: 900;
  align-items: center;
}

button {
  background-color: white;
  font-weight: 800;
  padding: 15px 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #3d3d49;
}

button i {
  padding-right: 10px;
  margin: 10px 0px;
}

button:hover {
  background-color: rgb(236, 230, 255);
  transition: 0.5s;
  cursor: pointer;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}