h1 {
  text-align: center;
  padding: 15px 0px;
  font-size: 30px;
}

h2 {
  text-align: center;
}

.face {
  display: flex;
  justify-content: center;
}

.didThis {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  color: rgb(226, 226, 226);
}
