.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;  
}

form {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  margin: 0px 25px;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 30px;
}

input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.moods {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  border: none;
}

.moods-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

#moods label {
  font-size: 50px;
  padding: 5px;
}

#moods label:hover {
  cursor: pointer;
}

input[type="radio"] + label {
  opacity: 0.5!important;
}

input[type="radio"]:checked + label {
  opacity: 1!important;
}
input[type="radio"]:hover + label {
  opacity: 1!important;
}

#activity {
  margin-bottom: 25px;
  border: none;
}

#activity div {
  display: flex;
  justify-content: flex-start;
  flex-basis: content;
  padding: 2px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 900;
  flex-shrink: 3;
}

.social {
  color: #adc4e3;
}
.hobbies {
  color: #dab098;
}
.phyfeelings {
  color: #bec4ae;
}
.habits {
  color: #efa6b7;
}
.fitness {
  color: #b6afca;
}
.emotions {
  color: #85c6d5;
}


.key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto 25px auto;
}

.key li {
  margin: 5px;
  padding-right: 25px;
}

#journal {
  width: 100%;
  background-color: #a4afc7;
}

button {
  margin-top: 30px;
  padding: 20px;
  border: none;
  font-size: 20px;
  color: white;
  background: linear-gradient(
    to right,
     #89253e,
     #3a6186);
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* large phone */
@media only screen and (min-width: 515px) {

  #activity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    margin-left: 40px;
}

  #activity div {
    flex-basis: 47%;
    font-size: 16px;
    line-height: 20px;  
  }  
}


/* tablet */
@media only screen and (min-width: 768px) {

  form {
    max-width: 768px;
  }
  #activity div {
    flex-basis: 32%;
    font-size: 16px;
    line-height: 20px;  
  }  
}

/* desktop */
@media only screen and (min-width: 992px) {
  #activity div {
    flex-basis: 24%;
    font-size: 15px;
    line-height: 20px;  
  }  
}