<div class="dash-container">
  <div class="dashboard">
    <h1>Hi {{ displayName }}!</h1>
    <div class="displayAverage">
      Your average daily mood is
      {{ displayAverage }} / 5
    </div>
    <div class="avgMoodDiv">
      <div class="smiley" *ngIf="average >= 4.5">
        <i style="color: #d8214b" class="far fa-laugh-beam fa-10x"></i>
        <div class="phrase">Exceptional!</div>
      </div>
      <div class="smiley" *ngIf="average >= 3.5 && average < 4.5">
        <i style="color: #f39481" class="far fa-smile fa-10x"></i>
        <div class="phrase">Pretty Good!</div>
      </div>
      <div class="smiley" *ngIf="average >= 2.5 && average < 3.5">
        <i style="color: #86b8d3" class="far fa-meh fa-10x"></i>
        <div class="phrase">Meh</div>
      </div>
      <div class="smiley" *ngIf="average >= 1.5 && average < 2.5">
        <i style="color: #33a0b9" class="far fa-frown fa-10x"></i>
        <div class="phrase">Not Good</div>
      </div>
      <div class="smiley" *ngIf="average >= 1 && average < 1.5">
        <i style="color: #336bb9" class="far fa-sad-tear fa-10x"></i>
        <div class="phrase">Awful</div>
      </div>
    </div>
    <div class="goToEntry">
      <button (click)="goToEntryPage()">
        <i class="fas fa-plus fa-2x"></i>
      </button>
    </div>
    <div class="addNewEntry">Add New Entry</div>
  </div>
</div>
